# TA-Libでテクニカル分析

簡単にテクニカル分析ができるライブラリ[TA-Lib](https://github.com/mrjbq7/ta-lib)を試しました．TA-LibにはPythonのラッパーがあり，ここで簡単に紹介します．

## TA-Libとは？  
金融マーケットのテクニカル分析を行えるパッケージ。  
ADX, MACD, RSI, Stochastic, Bollinger Bands など、[200以上](http://ta-lib.org/function.html)のテクニカル指標の算出。  
ローソクチャートの算出。  
C/C++, Java, Perl, Python のオープンソースのAPI 。

## 準備

はじめに、[TA-Lib](http://ta-lib.org/)をインストールする必要があります。

●Macの場合は、Homebrewでインストールできます。

$ brew install ta-lib

Pythonで使えるようにします。

$ pip install TA-Lib

●windowsの場合は、[python拡張パッケージ一覧](https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib.)からパソコンにインストールしているPythonversionに対応しているパッケージをダウンロードします。

Pythonで使えるようにします。

$ pip install TA_Lib-0.4.16-cp36-cp36m-win_amd64.whl

## テクニカル分析とは

## テクニカル分析

今回使用するライブラリをインポートします。

In [2]:
import numpy as np
import pandas as pd
import talib
import quandl

今回はquandlでデータを取得します．

In [3]:
df = quandl.get('NIKKEI/INDEX')  # quandlの場合

In [4]:
df

            Open Price  High Price  Low Price  Close Price
Date
1950-01-04         NaN         NaN       0.00       108.56
1950-01-05         NaN         NaN       0.00       105.54
1950-01-06         NaN         NaN       0.00       102.64
1950-01-09         NaN         NaN       0.00       102.78
1950-01-10         NaN         NaN       0.00       101.36
1950-01-11         NaN         NaN       0.00        99.36
1950-01-12         NaN         NaN       0.00        97.48
1950-01-13         NaN         NaN       0.00        95.04
1950-01-16         NaN         NaN       0.00        96.20
1950-01-17         NaN         NaN       0.00        95.27
1950-01-18         NaN         NaN       0.00        97.15
1950-01-19         NaN         NaN       0.00        98.90
1950-01-20         NaN         NaN       0.00        98.05
1950-01-23         NaN         NaN       0.00        97.10
1950-01-24         NaN         NaN       0.00        97.12
1950-01-25         NaN         NaN       0.00        96.51
1950-01-26         NaN         NaN       0.00        95.45
1950-01-27         NaN         NaN       0.00        94.85
1950-01-30         NaN         NaN       0.00        93.14
1950-01-31         NaN         NaN       0.00        92.54
1950-02-01         NaN         NaN       0.00        92.56
1950-02-02         NaN         NaN       0.00        95.96
1950-02-03         NaN         NaN       0.00        96.11
1950-02-06         NaN         NaN       0.00       101.71
1950-02-07         NaN         NaN       0.00       105.06
1950-02-08         NaN         NaN       0.00       107.25
1950-02-09         NaN         NaN       0.00       107.01
1950-02-10         NaN         NaN       0.00       106.54
1950-02-13         NaN         NaN       0.00       112.94
1950-02-14         NaN         NaN       0.00       113.40
...                ...         ...        ...          ...
2018-01-16    23721.17    23962.07   23701.83     23951.81
2018-01-17    23783.42    23891.63   23739.17     23868.34
2018-01-18    24078.93    24084.42   23699.47     23763.37
2018-01-19    23854.11    23872.69   23735.61     23808.06
2018-01-22    23797.84    23816.33   23697.81     23816.33
2018-01-23    23924.40    24129.34   23916.02     24124.15
2018-01-24    24026.43    24072.77   23917.14     23940.78
2018-01-25    23750.65    23828.40   23649.03     23669.49
2018-01-26    23757.34    23797.96   23592.28     23631.88
2018-01-29    23707.14    23787.23   23580.17     23629.34
2018-01-30    23559.33    23581.98   23233.37     23291.97
2018-01-31    23205.23    23375.38   23092.85     23098.29
2018-02-01    23276.10    23492.77   23211.12     23486.11
2018-02-02    23361.67    23367.96   23122.45     23274.53
2018-02-05    22921.16    22967.69   22659.43     22682.08
2018-02-06    22267.00    22277.45   21078.71     21610.24
2018-02-07    22001.29    22353.87   21627.13     21645.37
2018-02-08    21721.57    21977.03   21649.70     21890.86
2018-02-09    21507.74    21510.30   21119.01     21382.62
2018-02-13    21633.34    21679.20   21211.53     21244.68
2018-02-14    21251.24    21371.01   20950.15     21154.17
2018-02-15    21384.10    21578.99   21308.92     21464.98
2018-02-16    21555.99    21866.37   21499.88     21720.25
2018-02-19    21903.66    22152.85   21858.33     22149.21
2018-02-20    22054.32    22063.87   21831.45     21925.10
2018-02-21    21942.42    22130.58   21836.73     21970.81
2018-02-22    21789.88    21799.40   21626.85     21736.44
2018-02-23    21789.72    21903.39   21741.63     21892.78
2018-02-26    22134.64    22226.53   22040.87     22153.63
2018-02-27    22391.67    22502.05   22325.07     22389.86

[16948 rows x 4 columns]

[TA-Lib](https://github.com/mrjbq7/ta-lib)はDataFrameを引数にできないので，numpyのndarray形式にします．

In [5]:
close = np.array(df['Close Price'])
close[:5]

array([ 108.56,  105.54,  102.64,  102.78,  101.36])

とにかく，いろいろなテクニカル指標を試してみます．（今回は終値のみで，ローソク足を用いる指標は使っていません．）

In [6]:
output = close.copy()
cols = ['Original']
# 単純移動平均(SMA: Simple Moving Average)
output = np.c_[output, talib.SMA(close)]
cols += ['SMA']
# 加重移動平均(WMA: Weighted Moving Average)
output = np.c_[output, talib.WMA(close)]
cols += ['WMA']
# 指数移動平均(EMA: Exponential Moving Average)
output = np.c_[output, talib.EMA(close)]
cols += ['EMA']
# ２重指数移動平均(DEMA: Double Exponential Moving Average)
output = np.c_[output, talib.DEMA(close)]
cols += ['DEMA']
# ３重指数移動平均(TEMA: Triple Exponential Moving Average)
output = np.c_[output, talib.T3(close)]
cols += ['TEMA']
# 三角移動平均(TMA: Triangular Moving Average)
output = np.c_[output, talib.TRIMA(close)]
cols += ['TMA']
# Kaufmanの適応型移動平均(KAMA: Kaufman Adaptive Moving Average)
output = np.c_[output, talib.KAMA(close)]
cols += ['KAMA']
# MESAの適応型移動平均(MAMA: MESA Adaptive Moving Average)
for arr in talib.MAMA(close):
    output = np.c_[output, arr]
cols += ['MAMA', 'FAMA']
# トレンドライン(Hilbert Transform - Instantaneous Trendline)
output = np.c_[output, talib.HT_TRENDLINE(close)]
cols += ['HT_TRENDLINE']
# ボリンジャー・バンド(Bollinger Bands)
for arr in talib.BBANDS(close):
    output = np.c_[output, arr]
cols += ['BBANDS_upperband', 'BBANDS_middleband', 'BBANDS_lowerband']
# MidPoint over period
output = np.c_[output, talib.MIDPOINT(close)]
cols += ['MIDPOINT']

# 変化率(ROC: Rate of change Percentage)
output = np.c_[output, talib.ROCP(close)]
cols += ['ROC']
# モメンタム(Momentum)
output = np.c_[output, talib.MOM(close)]
cols += ['MOM']
# RSI: Relative Strength Index
output = np.c_[output, talib.RSI(close)]
cols += ['RSI']
# MACD: Moving Average Convergence/Divergence
for arr in talib.MACD(close):
    output = np.c_[output, arr]
cols += ['MACD', 'MACD_signal', 'MACD_hist']
# APO: Absolute Price Oscillator
output = np.c_[output, talib.APO(close)]
cols += ['APO']
# PPO: Percentage Price Oscillator
output = np.c_[output, talib.PPO(close)]
cols += ['PPO']
# CMO: Chande Momentum Oscillator
output = np.c_[output, talib.CMO(close)]
cols += ['CMO']

# ヒルベルト変換 - Dominant Cycle Period
output = np.c_[output, talib.HT_DCPERIOD(close)]
cols += ['HT_DCPERIOD']
# ヒルベルト変換 - Dominant Cycle Phase
output = np.c_[output, talib.HT_DCPHASE(close)]
cols += ['HT_DCPHASE']
# ヒルベルト変換 - Phasor Components
for arr in talib.HT_PHASOR(close):
    output = np.c_[output, arr]
cols += ['HT_PHASOR_inphase', 'HT_PHASOR_quadrature']
# ヒルベルト変換 - SineWave
for arr in talib.HT_SINE(close):
    output = np.c_[output, arr]
cols += ['HT_SINE_sine', 'HT_SINE_leadsine']    
# ヒルベルト変換 - Trend vs Cycle Mode
output = np.c_[output, talib.HT_TRENDMODE(close)]
cols += ['HT_TRENDMODE']
output.shape

# 60日単純移動平均
output = np.c_[output, talib.SMA(close, timeperiod=60)]
cols += ['SMA60']
# 15日ボリンジャー・バンド
for arr in talib.BBANDS(close, timeperiod=15, nbdevup=2, nbdevdn=2, matype=0):
    output = np.c_[output, arr]
cols += ['BBANDS15_upperband', 'BBANDS15_middleband', 'BBANDS15_lowerband']
# 21日RSI
output = np.c_[output, talib.RSI(close, timeperiod=21)]
cols += ['RSI21']

引数のtimeperiodを指定して，いろんな期間を計算できます．<br>

DataFrame形式にして，日付と対応させます．

In [7]:
data = pd.DataFrame(output, index=df.index, columns=cols)
data.tail()

,Original,SMA,WMA,EMA,DEMA,TEMA,TMA,KAMA,MAMA,FAMA,...,HT_PHASOR_inphase,HT_PHASOR_quadrature,HT_SINE_sine,HT_SINE_leadsine,HT_TRENDMODE,SMA60,BBANDS15_upperband,BBANDS15_middleband,BBANDS15_lowerband,RSI21
Date,,,,,,,,,,,,,,,,,,,,,
2018-02-21,21970.81,22902.071667,22418.215226,22476.807481,22081.675565,21613.787229,23006.558250,22761.975173,22051.875464,22756.740129,...,-599.166896,1552.471998,-0.015547,0.696028,1.0,22861.318333,23490.848614,22046.620000,20602.391386,43.330512
2018-02-22,21736.44,22833.679667,22343.013183,22429.041837,22014.718314,21709.012335,22893.952417,22699.644953,22036.103691,22738.724219,...,-207.867854,1734.708228,0.173610,0.819130,1.0,22848.206500,23291.324471,21955.830000,20620.335529,41.160417
2018-02-23,21892.78,22773.091333,22282.309978,22394.444299,21974.485887,21777.509250,22777.582333,22659.189026,21964.441845,22545.153625,...,351.497054,1623.626916,0.308510,0.890765,1.0,22837.238667,22905.545787,21849.608000,20793.670213,43.154479
2018-02-26,22153.63,22723.085000,22242.344731,22378.907893,21971.509514,21857.253488,22657.476500,22640.498057,21973.901253,22530.872316,...,791.869913,628.894862,0.502787,0.966755,1.0,22831.532667,22533.745895,21774.881333,21016.016772,46.340340
2018-02-27,22389.86,22678.917667,22220.846344,22379.614480,21999.160869,21970.376595,22537.733458,22632.854522,21994.699191,22517.467988,...,714.111665,-525.920808,0.629761,0.994581,1.0,22829.926333,22430.486037,21755.400000,21080.313963,49.055299

CSVに書き出します．

In [8]:
data.to_csv('NIKKEI_ta.csv')

[TA-Lib](https://github.com/mrjbq7/ta-lib)は予測モデルの特徴量の作成に便利です．